<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
    <style>
        body { margin: 0; padding: 0;}
        #map { width: 100%;}
    </style>
</head>
<body>
    <div id='map' style='height: 500px; align-content: center; align-items: center; align-self: center;'></div>
    {% block cities %}{% endblock %}
    <script>
   
    </script>
    {% block body %}{% endblock %}
</body>
</html>